*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}
html{
    background-color: #18191a;
}
.logo{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 1vw;
}
.logo:hover{
    cursor: pointer;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    gap: 100px;
    height: 10vh;
    background-color: #242526;
    position: sticky;
    border-bottom: 2px solid black;
    color: white;
}
.nav-bar div{
    margin-top: 10px;
}

input[type="text"]{
    width: 20vw;
    height: 4.5vh;
    margin-top: 5px;
    border-radius: 50px;
    font-size: 1.2rem;
    outline: none;
    padding-left: 10px;
}

.user-control{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 5%;
    gap: 2vw;
    font-size: 1.5rem;
}

.body-contents{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-top: 5vh;
}

.food-list li{
    text-align: left;
    font-size: 1.8vw;
    margin-left: 3vw;
    list-style: none;
    color: rgb(233, 227, 227);
    border-radius: 10px;
    padding-left: 10px;
}
.food-list li img{
    width: 2vw;
    height: 2vh;
}

.food-list li:hover{
    cursor: pointer;
    background-color: #3a3b3c;
}

.middle-contents{
    display: flex;
    flex-direction: column;
}
.post-status{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
}

.post{
    width: 48vw;
    height: 30vh;
    background-color:#242526;
    border-radius: 50px;
}
.post-msg input[type="text"]{
    width: 45vw;
    height: 20vh;
    text-align: start;
}
textarea{
    resize: none;
    width: 45vw;
    height: 20vh;
    border-radius: 50px;
    font-size: 2rem;
    outline: none;
    padding-left: 20px;
    padding-top: 5px;
    background-color: #9d9fa3;
    color: 	#e4e6eb;
}
.post-btn{
    width: 45vw;
    border-radius: 50px;
    font-size: 1.5rem;
    color: 	#888a8d;
    background-color: #e4e6eb;
}
.post-btn:hover{
    cursor: pointer;
    background-color: #7c7e83;
}
.trends{
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    gap: 15px;
}
.trending{
    font-size: 2.5rem;
    text-align: center;
}
.food-title{
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: underline;
}
.recipe{
    border: 2px solid rgb(158, 158, 167);
    border-radius: 10px;
}
.food-description{
    font-size: 1rem;
}
.recipe:hover{
    background-color: rgb(61, 61, 70);
    cursor: pointer;
}
.fa-fire-alt{
    color: orange;
}

.fas:hover{
    cursor: pointer;
}

.post-box{
    margin-top: 3vh;
    width: 48vw;
    height: 20vh;
    background-color: #242526;
    border-radius: 5px;
    color: beige;
    padding: 5px 10px;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.msg-box{
    width: 46vw;
    height: 15vh;
    margin-top: 5px;
    border-bottom: 2px solid #515353;
    overflow: auto;
}

.like{
    display: flex;
    flex-direction: row;
    gap: 10vw;
    margin-top: 10px;
    font-size: 1.2rem;
}
.like i:hover{
    cursor: pointer;
}